.logo {
        margin-right: 93px;
        color: var(--text-black-color);
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.1666;
        letter-spacing: 0.03em;

        @include desktop {
                font-weight: 700;
                        font-size: 26px;
                        line-height: 1.1923;
                        letter-spacing: 0.03em;
        }

        &-element {
                color: var(--accent);
        }
footer & {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        margin-right: 0;

        color: var(--text-white-color);

        @include desktop {
                display:block;
        }
        }         
        }