.mobile-menu__wrap {
    @media screen and (min-width: 768px) {
        display: none;
    }
}
.mobile-menu__container {
    background-color: var(--primary-bcg-color);
        
        &is-open {
            display: block;
        }
    
    @media screen and (max-width: 767px) {
        display: none;

        width: 100vw;
        height: 100hv;
        position: fixed;
        top: 0;
        left: 0;
        padding-left: 40px;
        }
}

.mobile-menu__button .icon-cross {
    display: none;
}

.mobile-menu__button.is-open .icon-cross {
    display: block;
}

.mobile-menu__button.is-open .icon-menu {
    display: none;
}