.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop-bg);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
}

.modal {
    position: absolute;
    width: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;

    @media screen and (min-width: 480px) {
        max-width: 450px;
        max-height: 609px;
        padding: 40px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 528px;
        max-height: 581px;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 41px;
        padding-right: 39px;
    }


    background-color: var(--primary-bcg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(0);
    }
}
// ФОРМА 


textarea {
    resize: none;
}

.modal-title {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 12px;

    font-family: inherit;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-grey-color);

    @include mobile {
        font-size: 20px;
    }
}

.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    & input {
        
        width:100%;
        padding-top: 11px;
        padding-bottom: 11px;
        padding-left: 42px;
        padding-right: 12px;

        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        cursor: pointer;
        outline: transparent;

        @include mobile {
            max-width: 370px;
        }
        @include desktop {
            max-width: 448px;
        }
    }
}

.form-label {
    margin-bottom: 4px;

    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.1666;
    letter-spacing: 0.01em;

    color: var(--text-lightgrey-color);
}

.modal-input {
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border-color: var(--accent);
    }

}

.form-textarea {
    min-height: 120px;
    width: 100%;

    @include mobile {
        max-width: 370px;
    }
    @include desktop {
        max-width: 448px;
    }
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


    &::placeholder {
        font-family: inherit;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.1666;
        letter-spacing: 0.01em;

        color: rgba(117, 117, 117, 0.5);
    }

    &:focus {
        border-color: var(--accent);
    }

}

.form-submit {
    display: flex;
    justify-content: center;

}
// CHECKBOX 

.form-policy {
    display: flex;
    width: 100%;
    
    height: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    

    @include mobile {
        max-width: 369px;
    }
    @include desktop {
        max-width: 423px;
    }

}

.label-policy {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    margin-left: 0;
    font-family: inherit;
    font-weight: 400;
    font-size: 7px;
    line-height: 1.1666;
    letter-spacing: 0.03em;
    color: var(--text-lightgrey-color);
    
    @include mobile {
        font-size: 12px;
    }

    @include desktop {
        font-size: 14px;
        line-height: 1.7142;
    }
    & span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 7px;
        width: 16px;
        height: 15px;
        border: 2px solid #212121;
        border-radius: 2px;
        fill: transparent;

        transition-property: border, background-color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include mobile {
        font-size: 12px;
    }
    @include desktop {
        font-size: 14px;
        line-height: 1.7142;
    }
}
}

.policy-checkbox:checked+.label-policy span {
    border: none;
    background-color: var(--accent);
    fill: var(--primary-bcg-color);
}

.link-policy {
    color: var(--accent);
    text-decoration: underline;
}
