.advantages {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        @media screen and (min-width: 1200px) {
            flex-wrap: nowrap;
        }
    }
    &__item {
        width: 100%;
        @media screen and (min-width: 768px) {
           flex-basis: calc((100% - 30px) / 2);
           }
    }
    &__item::before {
        display: block;
        margin-bottom: 30px;
        content: "";
        height: 120px;
        background-color: var(--secondary-bcg-color);

    }

    &__subtitle {
        text-align: center;
        margin-bottom: 10px;

        font-weight: 700;
        font-size: 14px;
        line-height: 1.1428;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--text-grey-color);
    }

    &__text {
        font-size: 14px;
        line-height: 1.7142;
        letter-spacing: 0.03em;
        color: var(--text-lightgrey-color);
    }

}