.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    border-bottom: 1px solid var(--border-element);

    &__container {
        display: flex;
        align-items: center;
        height: 60px;

        
        @media screen and (min-width: 480px) {
                width: 480px;
                position: relative;
                // justify-content: space-between;
            }
        }
    }
