.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background: var(--accent-bcg-color);

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 280px;
    }

    &__container {
        max-width: 360px;
       
        @media screen and (min-width: 1200px) {
            max-width: 698px;
        }
    }
    &__overlay {
        max-width: 100%;
        min-width: 480px;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img-hero-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media screen and (min-width: 1200px) {
            max-width: 1600px;
        }
    }

    &__title {
        min-width: 360px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;

        font-weight: 900;
        font-size: 26px;
        line-height: 1.65;
        letter-spacing: 0.06em;
        text-align: center;
        text-transform: uppercase;
        color: var(--text-white-color);

        @media screen and (min-width: 1200px) {
            font-weight: 900;
            font-size: 44px;
            line-height: 1.3636;
        }
    }
}