.nav {
        display: flex;
        align-items: center;
        

            &__list {
            display: none;
            gap: 50px;
            align-items: center;

                @media screen and (min-width: 768px) {
                    display: flex;
                }
            }

            &__link {
            display: block;
            padding-top: 32px;
            padding-bottom: 32px;
            color: var(--text-grey-color);

            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

            &:hover,
            &:focus,
            &:active {
                color: var(--accent);
            }
            }

        }


        .nav__link--current {
        color: var(--accent);
        position: relative;
        &::after {
            position: absolute;
            left: 0;
            bottom: -1px;
            content: "";
            width: 100%;
            height: 4px;
            background-color: var(--accent);
            border-radius: 2px;
            }
        }

        .contacts {
        display: none;
        margin-left: auto;

            @media screen and(min-width: 768px) {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            @media screen and (min-width: 1200px) {
                display: flex;
                flex-direction: row;
            }

            &__link {
            display: flex;
            align-items: center;
            color: (--elemnt-grey-color);
            }

            &__icon {
            fill: currentColor;
            margin-right: 10px;
            }
        }

        .contacts .link {
        color: var(--text-lightgrey-color);

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            &:hover,
            &:focus,
            &:active {
            color: var(--accent);
            }

            @media screen and (min-width: 768px) {
                font-weight: 500;
                font-size: 12px;
                line-height: 1.1666;
                letter-spacing: 0.02em;
            }
            @media screen and (min-width: 1200px) {
                font-weight: 500;
                font-size: 14px;
                line-height: 1.1428;
                letter-spacing: 0.02em;
                        }

        }

        .phone {
        margin-left: 30px;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-left: 0;
        }
        
        }
